<p>Hi,</p>
<p><b>{{STARTUP_NAME}}</b> has been registered you as a new form.</p>
<p>There is a new application for  expo riva schuh startup competition from {{STARTUP_NAME}} registered under the email {{EMAIL}}.</p>
<p>Contact email: {{EMAIL}}</p>
<p>Contact Number : {{PHONE}}</p>
<p>Please do not reply directly to this email as it is an unattended email address. </p>
<p>With best regards,</p>
<p>Team RetailHub</p>
